[Unit]
Description=Combine IRC server
After=network.target

[Service]
ExecStart=/home/combine/combine/bin/irc
Restart=always
RestartSec=5
User=combine
TimeoutStopSec=20
Environment="COMBINE_CONFIG_FILE={{ COMBINE_CONFIG_FILE }}" "VENV={{ VENV }}"
KillMode=process
KillSignal=QUIT

[Install]
WantedBy=multi-user.target
