api_key: <api-key>
email_address: example@example.com
github_url: http://github.com/example-user/example-repo
gunicorn:
  accesslog: '-'
  bind: localhost:5000
  error: '-'
  timeout: 6000
  workers: 2
irc:
  port: 6667
  server: cho.ppy.sh
logging_email: null
maps: data/maps
model_cache_size: 24
models: data/models
password: <password>
replays: data/replays
token_secret_path: data/token-secret
train_queue_db: data/train-queue.db
upload_url: http://localhost/
username: <username>
